.container_content{
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  border-bottom: #dddddd solid 1px;

}


.content_card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-right: 20px;

}

.content_title{
  width: 100%;
}

.content_description{
  margin-top: 15px;
}

.content_description > p{
  color: #757575;
  margin: 10px;
  text-align: justify;
}


.content_cover > img{
  width: 550px;
  height: 300px;
  min-width: 500px;
  border: 5px solid #fff;
  border-radius: 15px;

}
